@page
@model cw8_WebRazor.Pages.DeleteModel
@{
}
<h3>Usuwanie kontaktu</h3>
<h4>Czy na pewno chcesz usunąć kontakt?</h4>
@if (Model.Contact != null) {
    <div class="text-danger">
        <p>Id: @Model.Contact.Id</p>
        <p>Nazwa: @Model.Contact.Name</p>
        <p>Telefon: @Model.Contact.Phone</p>
        <p>Email: @Model.Contact.Email</p>
    </div>
    <div class="row">
        <a class="btn btn-danger col-2" asp-page="ResultDelete" 
           asp-route-isDelete="1"
           asp-route-id="@Model.Contact.Id"
           >TAK</a>
        <a class="btn btn-secondary col-2" asp-page="ResultDelete" asp-route-isDelete="0">NIE</a>
    </div>
}

