@model List<WebMVC_Samoloty.Models.Odloty>
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style6.css"/>
    <title>Odloty samolotów</title>


    <link rel="stylesheet" href="style6.css">
</head>

<body>
<div class="baner1">
    <h2>Odloty z lotniska</h2>
</div>
<div class="baner2"><img src="~/media/zad6_1.png" alt="logotyp"></div>
<div class="main">
    <h4>Tabela odlotów</h4>
    <table>
        <tr>
            <th>lp.</th>
            <th>numer rejsu</th>
            <th>Samolot</th>
            <th>czas</th>
            <th>kierunek</th>
            <th>status</th>
        </tr>
       @foreach (var o in Model) {
           <tr>
               <td>@o.Id</td>
               <td>@o.NrRejsu</td>
                    <td><a asp-route-id="@o.SamolotyId" asp-action="Details">@o.Samoloty.Linie</a></td>
               <td>@o.Czas</td>
               <td>@o.Kierunek</td>
               <td>@o.StatusLotu</td>
           </tr>
       }
    </table>
</div>

<footer>
    <div class="pobierz">
        <a href="#">Pobierz obraz</a>
    </div>
    <div id="cookie">
       @if (ViewBag.cookie != null) {
           <h3>Witamy ponownie</h3>
       }
       else {
           <h3>Witamy pierwszy raz mordki</h3>
       }
    </div >
    <div id="autor">Autor: XXXXXXXX</div>
</footer>
</body>

</html>
